<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="DbProvider" value="SqlServer" />
  </appSettings>

  <connectionStrings>
    <add name="dbcs"
         connectionString="Server=.;Database=OrderManagementDB;Trusted_Connection=True;Encrypt=False;"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>

</configuration>