<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="dbcs"
         connectionString="Data Source="Your_Connection-String_Here";Initial Catalog=OrderManagementDB;Integrated Security=True;TrustServerCertificate=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>